.container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: 10px auto;
    width: 45%;
    min-height: 900px;
    max-width: 700px;
    min-width: 300px;
    font-family: system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 1rem;
    color: #292b2c;
    line-height: 2.4;
}

h1 {
    font-weight: normal;
    font-size: 1.85rem;
    padding: .20rem .20rem;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    text-align: center;
    font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 100;
    background-color: #f7f7f9;
}

.card {
    margin: 15px auto;
    width: 85%;
    height: 40%;
}

.form {
    margin: 10px auto;
    width: 85%;
}

ul {
    list-style-type: none;
}

    ul li:before {
        content: '\2014';
        position: absolute;
        margin-left: -20px;
    }

.education {
    width: 100%;
    border: 1px solid;
    border-collapse: collapse;
    padding: 5px;
}

    .education th {
        background: #EBEBEB;
        border-bottom: 1px solid black;
        border-right: 1px solid black;
        font-weight: 450;
    }

    .education td {
        border-bottom: 1px solid black;
        border-right: 1px solid black;
        font-size: .85rem;
        font-weight: 400;
    }

    .education td, .lux th {
        padding: 5px;
    }

.field-title {
    font-weight: 450;
}

.matches {
    padding-top: 5px;
    line-height: 1.3;
}

#photo {
    width: 120px;
    display: inline-block;
    vertical-align: top;
}

#info {
    width: 65%;
    display: inline-block;
    vertical-align: top;
    padding-left: 5%;
}

#footer {
    padding: 5px;
}

#skills {
    margin: 0 8px 0 4px;
    line-height: 1.6;
}

input[type=text], input[type=number],  select, textarea {
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.message {
    color: red;
}
